{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
        style=""></script>
<div class="py-5 text-white"
     style="background-image: linear-gradient(rgb(255, 238, 0), rgba(200, 200, 200, 0.75)), url(&quot;https://static.pingendo.com/cover-bubble-light.svg&quot;); background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 p-0"></div>
            <div class="p-5 col-lg-7 d-flex flex-column justify-content-center" style="">
                <h3 class="display-4 mb-3 text-dark">Track Your Equipment</h3>
                <p class="lead mb-0 text-dark">Effortlessly track lab stock and equipment with our automatic wireless system</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"
        style=""></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"
        style=""></script>
{% endblock %}