{% extends "loggedinlayout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <form>
            <div class="input-group">
                <input id="search_query" class="form-control" placeholder="Search" type="text" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-question fa-sm text-white-50"></i> Ask a Question</a>

        <h1 class="h3 mb-0 text-gray-800">The Knowledge Exchange</h1>
    </div>


    <div class="row">
        <div id="app" class="col-xl-12 col-md-6">

            {% for question in questions %}

            <question questiontext="{{ question.questiontext }}" questionurl="{{ question.questionurl }}"
                moreinfo="{{ question.moreinfo }}" username="{{ question.username }}" userurl="{{ question.userurl }}"
                numbercomments="{{ question.numcomments }}" timestamp="{{ question.timestamp }}"
                liked="{{ question.liked }}" numberlikes="{{ question.numberlikes }}" v-bind:tags="{{ question.tags }}">
            </question>

            {% endfor %}

        </div>
    </div>

    <div class="row">

        <div class="col-xl-12">
            <div class="card-transparent mb-4">

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">

                        {# Determine if we display 1 #}
                        {% if paginator.currentpage >= 4 %}
                        <li class="page-item"><a class="page-link"
                                href="{{ 'dashboard?' +  paginator.query + '&pagenum=' + 1|string }}">1</a></li>
                        {% endif %}

                        {# Determine if we display ... #}
                        {% if (paginator.currentpage - 2) >= 3 %}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        {% endif %}

                        {# Display the first five. #}
                        {% for i in range(-2,3) %}
                        {% if (i + paginator.currentpage) > 0 and (i + paginator.currentpage) <= paginator.maxpage %}
                        <li class="page-item"><a class="page-link"
                                href="{{ 'dashboard?' + paginator.query + '&pagenum=' + (i + paginator.currentpage)|string }}">{{ (i + paginator.currentpage) }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {# Determine if we display ... #}
                        {% if (paginator.currentpage + 2) <= paginator.maxpage - 2 %}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        {% endif %}

                        {# Determine if we display last element #}
                        {% if (paginator.currentpage + 2) < paginator.maxpage %}
                        <li class="page-item"><a class="page-link"
                                href="{{ 'dashboard?' + paginator.query + '&pagenum=' + paginator.maxpage|string }}">{{ (paginator.maxpage) }}</a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>

            </div>
        </div>
    </div>

</div>


<!-- /.container-fluid -->
{% endblock %}


{% block scripts %}
<!-- Page level plugins -->

<!-- Page level custom scripts -->
<script src="static/js/demo/vue-dashboard.js"></script>
<script>
    $(function () {
        $("#search_query")
            .popover({content: "Try this query: where is the lamb sauce tags=cooking", placement: "top" })
            .blur(function () {
                $(this).popover('hide');
            });
    });
</script>

{% endblock %}