{% extends "loggedinlayout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <form>
            <div class="input-group">
                <input id="search_query" class="form-control" placeholder="Search" type="text" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-question fa-sm text-white-50"></i> Ask a Question</a>

        <h1 class="h3 mb-0 text-gray-800">The Knowledge Exchange</h1>
    </div>


    <div class="row">
        <div id="app" class="col-xl-12 col-md-6">

            {% for question in questions %}

            <question questiontext="{{ question.questiontext }}" questionurl="{{ question.questionurl }}"
                moreinfo="{{ question.moreinfo }}" username="{{ question.username }}" userurl="{{ question.userurl }}"
                numbercomments="{{ question.numcomments }}" timestamp="{{ question.timestamp }}"
                liked="{{ question.liked }}" numberlikes="{{ question.numberlikes }}" v-bind:tags="{{ question.tags }}">
            </question>

            {% endfor %}

        </div>
    </div>

    <div class="row">

        <div id="pageselectapp" class="col-xl-12">
            <pageselector currentpage="{{ paginator.currentpage }}" maxpage="{{ paginator.maxpage }}" query="{{ paginator.query }}"></pageselector>
        </div>
    </div>

</div>


<!-- /.container-fluid -->
{% endblock %}


{% block scripts %}
<!-- Page level plugins -->

<!-- Page level custom scripts -->
<script src="static/js/demo/vue-dashboard.js"></script>
<script>
    $(function () {
        $("#search_query")
            .popover({content: "Try this query: where is the lamb sauce tags=cooking", placement: "top" })
            .blur(function () {
                $(this).popover('hide');
            });
    });
</script>

{% endblock %}