{% if session.jwt %}
    {% extends "loggedinlayout.html" %}
{% else %}
    {% extends "loggedoutlayout.html" %}
{% endif %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="card bg-white text-dark border-0 text-lg-center">
    <!-- <img class="card-img" src="https://i.redd.it/p3i2jhwi9v831.png" alt="Card image"> -->
    <div class="card-img-overlay">
        <h1 class="display-1 card-title">J.O.K.E.</h1>
        <p class="card-text">Jacobsen Organic Knowledge Exchange</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}