{% extends "loggedinlayout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <form>
                <div class="input-group">
                    <input id="search_query" class="form-control" placeholder="Search" type="text" name="q" disabled>
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
            </form>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-question fa-sm text-white-50"></i> Ask a Question</a>

            <h1 class="h3 mb-0 text-gray-800">The Knowledge Exchange</h1>
        </div>

        <div class="row">

            <div class="col-xl-12 col-md-6 mb-2" id='question'>
                <question questiontext="{{ QAThread['question'] }}"
                          questionurl="question?id={{ QAThread['_id']['$oid'] }}"
                          moreinfo="{{ QAThread['body'] }}"
                          username="{{ QAThread['email'] }}" userurl="users?id={{ QAThread['userName'] }}"
                          numbercomments="{{ QAThread['comments']|length }}" timestamp="{{ QAThread['timestamp'] }}"
                          liked="{{ g.user["username"] in QAThread["liked_by"] }}"
                          numberlikes="{{ QAThread["liked_by"]|length }}"
                          v-bind:tags="{{ QAThread["tags"] }}">
                </question>
            </div>

            <div class="col-xl-12 col-md-6 mb-1">
                <div id='app'>
                    {% for answer in QAThread["answers"] %}
                        <answer answertext="{{ answer["answer"] }}" username="{{ answer["email"] }}"
                                userurl="users?id={{ QAThread["userName"] }}"
                                numberlikes="{{ answer["liked_by"]|length }}"
                                liked="{{ g.user["username"] in answer["liked_by"] }}"
                                timestamp="{{ answer["timestamp"] }}" answerid="{{ answer['_id']['$oid'] }}">
                            <span slot="comments">
                            {% for comment in answer["comments"] %}
                                <comment text="{{ comment["comment"] }}"
                                        {% if "email" in comment %}
                                         username="{{ comment["email"] }}"
                                        {% else %}
                                         username="somebody"
                                        {% endif %}
                                         userurl="users?id={{ comment["userName"] }}"
                                         timestamp="{{ comment["timestamp"] }}"></comment>
                            {% endfor %}
                            </span>
                        </answer>
                    {% endfor %}
                </div>
            </div>

        </div>

        <!-- <div id="app">
            <comment></comment>
        </div> -->

        <div class="row">
            <div class="col-xl-12 col-md-6 mb-1">
                <div id="addanswer">
                    <addanswer showheader="False" value="someValue"></addanswer>
                </div>
            </div>
        </div>

    </div>


    <!-- /.container-fluid -->
{% endblock %}


{% block scripts %}
    <!-- Page level plugins -->

    <!-- Page level custom scripts -->
    <script src="static/js/demo/vue-question.js"></script>
    <script>
        var IMAGE_MIME_REGEX = /^image\/(p?jpeg|gif|png)$/i;

        var loadImage = function (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = document.createElement('img');
                img.src = e.target.result;

                var range = window.getSelection().getRangeAt(0);
                range.deleteContents();
                range.insertNode(img);
            };
            reader.readAsDataURL(file);
        };

        document.onpaste = function (e) {
            if (Boolean(window.chrome)) {
                var items = e.clipboardData.items;

                for (var i = 0; i < items.length; i++) {
                    if (IMAGE_MIME_REGEX.test(items[i].type)) {
                        loadImage(items[i].getAsFile());
                        return;
                    }
                }
            }
            // Normal paste handling here
        }
    </script>

{% endblock %}